<h2>
    {{ title }}
</h2>

@if(products$ | async; as products) {
    <ul class="products">
        <li *ngFor="let product of products | slice:start:end"
            [class.selected]="product === selectedProduct"
            [class.discontinued]="product.discontinued"
            (click)="onSelect(product)">
            <span class="name">{{ product.name | uppercase }}</span>
            <span class="description">{{ product.description }}</span>
            <span class="price">{{ product.price | currency:'CAD':'symbol-narrow':'.2' }}</span>
        </li>
    </ul>

    <div>
        <button (click)="previousPage()" [disabled]="start == 0">Previous Page</button>
        Page {{ pageNumber }}
        <button (click)="nextPage()">Next Page</button>
    </div>

} @else {
    <h2 class="loading">Loading</h2>
}

<app-product-detail [product]="selectedProduct"></app-product-detail>